!!! 5
%html(lang="en-US")
  %head
    %title Canvas Demos | #{@title}
    %meta(charset="UTF-8")
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = yield_content :head
  %body
    %section
      = yield
